<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dawet</title>
</head>
<body>
    
    <h1>My Blog</h1>
    {% include "menu.html" %}

    <ul>
        {% for blog in blogs %}
        <li>{{ blog.judul }}</li>
        {% endfor %}
    </ul>

    <p>Nama : R i k i   G u n a w a n</p>
    <p>Kelas : XI RPL 3</p>
    <p>jurusan : Rekayasa Perangkat Lunak</p>
       
</body>
</html>